/* Paleta de Colores Normal */

:root {
  --clrEnfasis: #a19e9b;
  --clrFnd: #fff;
  --clrTxt: 0c0c0c;
  --cltTxtEnh: orange;
  --clrTxtChx: white;
  --clrFndChx: transparent;
  --clrFotoMarco: white;
  --clrFndUL: #a5aab1;
  --clrTxtUL: #0b6ca0;
  --clrFndObj: #0047b3;
  --clrTxtObj: white;
}
