/* Paleta de Colores Cuchi */

* {
	--clrEnfasis:   #a19e9bff;
	--clrNav:       #628395ff;
	--clrFondo:     #d78626ff;
	--clrTxt:       brown;
	--cltTxtEnh:    orange;
	--clrTxtChx:    white;
	--clrFndChx:    transparent;
	--clrFotoMarco: white;
	--clrFndUL:     #aa99e4ff;
	--clrFndLI:     #fffecbff;
	--clrTxtLI:     #aa99e4ff;
	--clrFndBtn:    #F3EED9;
	--clrTxtBtn:    #824936;
    --objFondo:     #0047b3;
    --objLetra:     white;
}

ul, ol {
	background-color: var(--clrFndUL);
}

li {
	background-color: var(--clrFndLI);
	color: var(--clrTxtLI);
}