 /* Menú */
.rogMenu {
  overflow: hidden;
  background-color: #333;
}

/* Submenúes */
.rogMenu > * {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  list-style-type: none;
}

/* Señala el submenú actual */
.rogSubmenu:hover {
  background-color: black;
}

/* Opciones de Submenú */
.rogOpciones {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.rogOpciones a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Señala la opción actual */
.rogOpciones a:hover {
  background-color: #ddd;
}

/* Muestra las opciones del submenú */
.rogSubmenu:hover .rogOpciones {
  display: block;
} 

.rogMenuIcono {
    display: none;
}

/* Menú "respondivo" */
@media screen and (max-width: 600px) {
  .rogSubmenu {display: none;}
  .rogMenuIcono {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .rogMenu {position: relative;}
  .rogMenuIcono {
    position: absolute;
    right: 0;
    top: 0;
  }
  .rogMenuResp .rogSubmenu {
    float: none;
    display: block;
    text-align: left;
  }
}
